// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
// VARIABLES
// Colors
// primary colors
$linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); //active input border
$red: hsl(0, 100%, 66%); //(input errors)
// neutral colors
$white: hsl(0, 0%, 100%);
$light_grayish_violet: hsl(270, 3%, 87%);
$dark_grayish_violet: hsl(279, 6%, 55%);
$very_dark_violet: hsl(278, 68%, 11%);
$light_violet: lighten($very_dark_violet, 10%);
// Typography
// font-family
$ff: "Space Grotesk", sans-serif;
// font-weight
$fw_medium: 500;
// font-size
$fs_bodyCopy: 1.125rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

fieldset {
  border: none;
}

//Toggle

.hide {
  display: none;
}

// STYLES
body {
  font-family: $ff;
  font-size: $fs_bodyCopy;
  background-color: $white;
  width: 100%;
  height: 15rem;
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 15rem;
  @media screen and (min-width: $desktop) {
    background-image: url(../images/bg-main-desktop.png);
    background-size: 30rem 100%;
  }
}

main {
  display: grid;
  place-items: center;
}

.card_container {
  height: 9.875rem;
  width: 17.813rem;
  top: 1.875rem;
  right: 0.938rem;
  position: absolute;
  @media screen and (min-width: $desktop) {
    height: 15.625rem;
    width: 28.125rem;
    top: 12.5rem;
    right: 62.5rem;
  }
}

.card_container > .back_card,
.front_card {
  border-radius: 8px;
  width: 17.813rem;
  @media screen and (min-width: $desktop) {
    width: 28.125rem;
    border-radius: 11px;
  }
}

.back_card {
  position: relative;
  @media screen and (min-width: $desktop) {
    bottom: -124%;
    left: 48%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
}

.front_card_container {
  // Logo
  &::after {
    content: url(../images/card-logo.svg);
    position: absolute;
    top: 5.938rem;
    left: -3.438rem;
    transform: scale(0.6);
    @media screen and (min-width: $desktop) {
      top: 20%;
      left: 35%;
      transform: scale(1);
    }
  }
}

.front_card {
  position: absolute;
  top: 5.563rem;
  right: 3.313rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  @media screen and (min-width: $desktop) {
    top: 10%;
    left: 8.125rem;
  }
}

.details {
  color: $white;
  font-size: 0.75rem;
  position: absolute;
  letter-spacing: 0.063rem;
}

.cvc {
  top: 4.375rem;
  left: 14.063rem;
  font-size: 0.625rem;
  @media screen and (min-width: $desktop) {
    top: 26.438rem;
    left: 36.063rem;
    font-size: 0.813rem;
  }
}

.cardnumber {
  top: 10.625rem;
  left: -1.125rem;
  font-size: $fs_bodyCopy;
  @media screen and (min-width: $desktop) {
    top: 9.375rem;
    left: 11.125rem;
    font-size: 1.875rem;
    width: 90%;
  }
}

.cardname {
  top: 13.438rem;
  left: -1.125rem;
  text-transform: uppercase;
  font-size: 0.563rem;
  @media screen and (min-width: $desktop) {
    left: 11.188rem;
    font-size: 0.813rem;
  }
}

.expdate {
  top: 13.438rem;
  left: 10.5rem;
  font-size: 0.563rem;
  p {
    display: inline-block;
  }
  @media screen and (min-width: $desktop) {
    left: 30.438rem;
    font-size: 0.813rem;
    width: 6rem;
  }
}
// FORM
.cardform {
  width: 20.313rem;
  margin-top: 20.625rem;
  @media screen and (min-width: $desktop) {
    margin-left: 35%;
    margin-top: 18.75rem;
    width: 25rem;
  }
}

.box1,
.box2,
.box3 {
  display: flex;
}

.box1 {
  flex-direction: column;
}

.box2 {
  flex-direction: row;
  justify-content: space-between;
}

.box3 {
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0.625rem;
  }
}

#expmonth,
#expyear {
  width: 4.063rem;
  @media screen and (min-width: $desktop) {
    width: 4.688rem;
  }
}
#cvc {
  width: 10.625rem;
  @media screen and (min-width: $desktop) {
    width: 13.125rem;
  }
}

label {
  font-size: 0.688rem;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
  margin-bottom: 0.375rem;
  color: $very_dark_violet;
  font-weight: bold;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0.5rem;
    font-size: 0.813rem;
  }
}

input {
  font-size: $fs_bodyCopy;
  margin-bottom: 0.438rem;
  border-radius: 8px;
  padding: 0.625rem;
  display: block;
  width: 100%;
  border: 1px solid $light_grayish_violet;
  color: $dark_grayish_violet;
}

.errorMessage {
  display: block;
  color: $red;
  text-align: left;
  font-size: 0.65rem;
  margin-bottom: 1.25rem;
  @media screen and (min-width: $desktop) {
    font-size: 0.75rem;
  }
}

input:focus {
  border: $dark_grayish_violet solid 2px;
  outline: none;
}

.error input {
  border: 1px solid $red;
}

// Makes the Error Message invisible
.errorMessage {
  opacity: 0;
}
// Makes the Error Message visible
.error .errorMessage {
  opacity: 1;
}

.confirm_button,
.continue_button {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  color: $white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.063rem;
  background-color: $very_dark_violet;
  cursor: pointer;
  &:hover {
    background-color: $light_violet;
  }
  &:active {
    transform: translateY(4px);
  }
}
.completionMessage {
  width: 20.313rem;
  margin-top: 20.625rem;
  text-align: center;
  img {
    margin-bottom: 1.875rem;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    font-weight: $fw_medium;
    color: $very_dark_violet;
    margin-bottom: 0.938rem;
  }
  p {
    color: $dark_grayish_violet;
    font-size: 1.063rem;
    margin-bottom: 2.813rem;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 35%;
    margin-top: 20rem;
    width: 25rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.875rem;
  text-align: center;
  width: 100%;
  .attribution {
    color: $very_dark_violet;
    a {
      color: #6230d9;
    }
  }
}
