@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

fieldset {
  border: none;
}

.hide {
  display: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
  height: 240px;
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 240px;
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/bg-main-desktop.png);
    background-size: 480px 100%;
  }
}

main {
  display: grid;
  place-items: center;
}

.card_container {
  height: 158px;
  width: 285px;
  top: 30px;
  right: 15px;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .card_container {
    height: 250px;
    width: 450px;
    top: 200px;
    right: 1000px;
  }
}

.card_container > .back_card,
.front_card {
  border-radius: 8px;
  width: 285px;
}
@media screen and (min-width: 1024px) {
  .card_container > .back_card,
.front_card {
    width: 450px;
    border-radius: 11px;
  }
}

.back_card {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .back_card {
    bottom: -125%;
    left: 30%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
}

.front_card_container::after {
  content: url(../images/card-logo.svg);
  position: absolute;
  top: 95px;
  left: -55px;
  transform: scale(0.6);
}
@media screen and (min-width: 1024px) {
  .front_card_container::after {
    top: 20%;
    left: 15%;
    transform: scale(1);
  }
}

.front_card {
  position: absolute;
  top: 89px;
  right: 53px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media screen and (min-width: 1024px) {
  .front_card {
    top: 10%;
    left: 40px;
  }
}

.details {
  color: hsl(0deg, 0%, 100%);
  font-size: 12px;
  position: absolute;
  letter-spacing: 1px;
}

.cvc {
  top: 70px;
  left: 225px;
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  .cvc {
    top: 425px;
    left: 495px;
    font-size: 13px;
  }
}

.cardnumber {
  top: 170px;
  left: -18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 1024px) {
  .cardnumber {
    top: 150px;
    left: 88px;
    font-size: 30px;
  }
}

.cardname {
  top: 215px;
  left: -18px;
  text-transform: uppercase;
  font-size: 9px;
}
@media screen and (min-width: 1024px) {
  .cardname {
    left: 92px;
    font-size: 13px;
  }
}

.expdate {
  top: 215px;
  left: 168px;
  font-size: 9px;
}
.expdate p {
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .expdate {
    left: 394px;
    font-size: 13px;
  }
}

.cardform {
  width: 325px;
  margin-top: 330px;
}
@media screen and (min-width: 1024px) {
  .cardform {
    margin-left: 35%;
    margin-top: 300px;
    width: 400px;
  }
}

.box1,
.box2,
.box3 {
  display: flex;
}

.box1 {
  flex-direction: column;
}

.box2 {
  flex-direction: row;
  justify-content: space-between;
}

.box3 {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .box3 {
    margin-bottom: 10px;
  }
}

#expmonth,
#expyear {
  width: 65px;
}
@media screen and (min-width: 1024px) {
  #expmonth,
#expyear {
    width: 75px;
  }
}

#cvc {
  width: 170px;
}
@media screen and (min-width: 1024px) {
  #cvc {
    width: 210px;
  }
}

label {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
  color: hsl(278deg, 68%, 11%);
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  label {
    margin-bottom: 8px;
    font-size: 13px;
  }
}

input {
  font-size: 1.125rem;
  margin-bottom: 7px;
  border-radius: 8px;
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid hsl(270deg, 3%, 87%);
  color: hsl(279deg, 6%, 55%);
}

.errorMessage {
  display: block;
  color: hsl(0deg, 100%, 66%);
  text-align: left;
  font-size: 0.65rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .errorMessage {
    font-size: 0.75rem;
  }
}

input:focus {
  border: hsl(279deg, 6%, 55%) solid 2px;
  outline: none;
}

.error input {
  border: 1px solid hsl(0deg, 100%, 66%);
}

.errorMessage {
  opacity: 0;
}

.error .errorMessage {
  opacity: 1;
}

.confirm_button,
.continue_button {
  width: 100%;
  border: none;
  padding: 16px;
  border-radius: 8px;
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: hsl(278deg, 68%, 11%);
  cursor: pointer;
}
.confirm_button:hover,
.continue_button:hover {
  background-color: #3f115a;
}
.confirm_button:active,
.continue_button:active {
  transform: translateY(4px);
}

.completionMessage {
  width: 325px;
  margin-top: 330px;
  text-align: center;
}
.completionMessage img {
  margin-bottom: 30px;
}
.completionMessage h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 15px;
}
.completionMessage p {
  color: hsl(279deg, 6%, 55%);
  font-size: 17px;
  margin-bottom: 45px;
}
@media screen and (min-width: 1024px) {
  .completionMessage {
    margin-left: 35%;
    margin-top: 320px;
    width: 400px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
footer .attribution {
  color: hsl(278deg, 68%, 11%);
}
footer .attribution a {
  color: #6230d9;
}/*# sourceMappingURL=style.css.map */